*
!.bashrc
!.bash_logout
!.inputrc
!.bash_profile
!.gitconfig
!.gitignore
!.wgetrc

!.local/
!.local/bin
!.local/bin/.example
!.local/bin/man
!.local/bin/info

!.vimrc
!.vim
!.vim/vimrc
!.vim/bundle
!.vim/bundle/*
!.vim/bundle/*/*
!.vim/bundle/*/*/*
.vim/bundle/*/doc/tags
.vim/bundle/*/.VimballRecord
